   .nav_1 {
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 0 0 10px;
}
.nav_2 {
  margin-top:10%;
}
    .bor{
      border-bottom: 1px solid #d0d0d0;
      border-top: 1px solid #d0d0d0;
      padding: 0 0 10px;    
      margin-top: 10%; 
    }
    .nav_2{
    margin-bottom: 15%;     
    }
    .chanal {
      margin-top: 10%; 

    }
    .row2{
      margin-top: 10%;
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 10%;
      cursor:pointer;
    }
    .row3{
      margin-top: 10px;
    }
    .row4{
      padding-top: 
    }
   .img{
    height: 150px;
    width: 160px;
   }
   button{
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;

   }
   .btn-info {
    color: #fff;
    background-color: #795ea9!important;
    border-color: #ffffff;
}
.btn-info:hover {
    color: #fff;
    background-color: #f7fafb;
    border-color: #6b848b;
}
.bg-primary {
    background-color: #795ea9!important;
} 

.btn-danger {
    color: #fff;
    background-color: #f5f4f4;
    border-color: #f3edec;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #9C27B0;
}
.btn{
  font-size: 30px;
}
       .nav_1 {
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 0 0 10px;
}
    .bor{
      border-bottom: 1px solid #d0d0d0;
      border-top: 1px solid #d0d0d0;
      padding: 0px 0 10px;    
      margin-top: 10%; 
          text-align: center;
    }
    .nav_2{
    margin-bottom: 0%; 
    margin-top: 15px;    
    }
    .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.bg-primary {
    background-color: #7871b3!important;
}